{% extends 'layout.html' %}

{% block title %}Profissional{% endblock %}

{% block content %}
<h1>HABILIDADES E COMPETÊNCIAS</h1><br><p>Eletricidade – Básica</p>

    <ul>
        <li>Proteção / Segurança </li>
        <li>Dimensionamento </li>
        <li>Manutenção e testes </li>
        <li>Multímetro digital</li>
    </ul>
<p>Hardware – Intermediário</p>
    <ul>
        <li>Montagem e manutenção</li>
        <li>Dimensionamento / Adequação </li>
        <li>Instalação e configuração </li>
        <li>Consultoria</li>
    </ul>
    
    <p>EDUCAÇÃO <br> COLÉGIO E FACULDADE COTEMIG, BELO HORIZONTE MG <br> TÉCNICO EM INFORMÁTICA GERENCIAL – EM CURSO 3ª SÉRIE</p>


<p>COMUNICAÇÃO<br> Debate sobre tecnologias emergentes concorrentes – Apple x Samsung <br> Auditório – Faculdade Cotemigs</p>

<!-- Edite o conteúdo abaixo depois -->
{% endblock %}
